@import "zen";
$legacy-support-for-ie7: false;
$legacy-support-for-ie6: false;

.zen-container {
 @include zen-grid-container; // Apply this mixin to the container.
 img {
   max-width: 100%;
 }
}

.zen-two-col {
  $zen-column-count: 2;
  > *:nth-child(odd) {
    @include zen-clear();
    @include zen-grid-item(1, 1);
  }

  > *:nth-child(even) {
    @include zen-grid-item(1, 2);
  }
}
